#{list items:_member.assessments, as: 'assessment'}
<table class="ui celled table">
    <div class="field">
            <thead>
            <tr>
                <th>Weight</th>
                <th>Chest</th>
                <th>Thigh</th>
                <th>Upper Arm</th>
                <th>Waist</th>
                <th>Hips</th>
                <th>Comment</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>
            ${assessment.weight}
            </td>
            <td>
            ${assessment.chest}
            </td>
            <td>
            ${assessment.thigh}
            </td>
            <td>
            ${assessment.upperArm}
            </td>
            <td>
            ${assessment.waist}
            </td>
            <td>
            ${assessment.hips}
            </td>
            <td>
            ${assessment.comment}
            </td>
            <td>
                <a href="/members/${_member.id}/deleteassessment/${assessment.id}" class="icon trash">
                    <i class="icon trash"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </div>
    </table>
    <form class="ui secondary inverted charcoal segment form" action="/addcomment/${assessment.id}" method="POST">
        <div class="field">
            <input placeholder="Insert Comment Here" type="text" name="comment">
        </div>
        <button class="ui blue submit button">Update</button>
    </form>
#{/list}