#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"admin"/}

<section class="ui raised segment" xmlns="http://www.w3.org/1999/html">
    <header class="ui header">
        All known Members in the Database:
    </header>
    <table class="ui blue table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Name</th>
            <th>Address</th>
        </tr>
        </thead>
        <tbody>
        <div class="ui list">
        #{list items:members, as: 'member'}
            <tr>
                <td>
                ${member.id}
                </td>
                <td>
                ${member.email}
                </td>
                <td>
                ${member.firstname} ${member.lastname}
                </td>
                <td>
                ${member.address}
                </td>
            </tr>
        #{/list}
        </div>
        </tbody>
    </table>
</section>
