#{extends 'main.html' /}
#{set title:'About' /}

#{welcomemenu id:"start"/}

<div class="ui inverted segment">
  <div class="ui inverted items">
    <div style="text-align:center">
      <div class="ui floating message"">
        <h2>GYM & FITNESS WATERFORD</h2>
        <p>
          Welcome to Waterford’s Biggest Gym & Fitness Centre. Maybe you plan on running a Marathon, or
          maybe you just want to tone up a little and feel more confident?<br> Whatever your fitness goals are, our friendly
            and knowledgeable Instructors can help you achieve them.
        </p>
        <p>
          Become a member of our hi-tech facility and enjoy a huge selection of cardio and resistance machines, massive free
            weights areas, free fitness classes including our neon Spinzone, separate male and female sauna’s and much more.
        </p>
        <p>
          <span class="ui large red text">What are you waiting for? If you don’t swim, we’re your gym.</span>
        </p>
        <img class="ui centered huge rounded image" src="/public/images/GoldStone.jpg">
      </div>
    </div>
  </div>
</div>




